In [1]:
import os
import glob
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [224]:
DATA_DIR = os.path.join(os.getcwd().replace('/src', ''), 'data')

In [3]:
DF_VARIABLES = ['Name', 'Date', 'Team',  'FPTS', 'Home', 'W', 'W_PTS', 'L', 'L_PTS', 'MP',
                'FG', 'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA', 'FT_perc',
                'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'DD', 'TD',
                'USG_perc', 'DRtg', 'ORtg', 'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc',
                'TOV_perc', 'STL_perc', 'eFG_perc']

# Reading the Game Log Data
Steps inlcude
- Creating functions to prepare the csv files
- Creating the a dataframe for the player game log stats

## Functions for Preparing the files
- Creating 3 Functions that will be used in reading the csv data, merging it, and calculating neccesary fantsy point stats

### Function to merge multiple csv files

In [15]:
def csv_concatenate(folder_path, nested=False):
    # Concatenate all csv files under a directory
    if nested == True:
        files = glob.glob(folder_path + "/*/*.csv")
    else:
        files = glob.glob(folder_path + "/*.csv")

    df_list = []

    for file in files:
        df_list.append(pd.read_csv(file, parse_dates=True,
                                   infer_datetime_format=True))

    # Fill nan with 0s as some values are empty for percentage points
    df = pd.concat(df_list).fillna(0).reset_index(drop=True)

    return df

### Function to Create Double Double and Triple Double Stat

In [16]:
def add_doubles(df):
    dd = [0 for i in range(df.shape[0])]
    td = [0 for i in range(df.shape[0])]
    
    for i in tqdm(range(df.shape[0])):
        doubles_count = 0
        check_doubles = ['PTS','TRB', 'AST', 'STL', 'BLK']
        
        for stat in check_doubles:
            if df.loc[i, stat] >= 10:
                doubles_count += 1
        
        if doubles_count >= 2:
            dd[i] = 1
        if doubles_count >= 3:
            td[i] = 1
   
    df['DD'] = dd
    df['TD'] = td

### Function to Calculate Fantasy Points

In [17]:
def calculate_FPTS(df):
    multipliers = {'PTS': 1, '3P': 0.5, 'TRB': 1.25,
                   'AST': 1.5, 'STL': 2, 'BLK': 2, 'TOV': -0.5}

    indices = len(df)
    fpts_list = []

    for i in tqdm(range(indices)):
        fpts = 0
        doubles = 0
        for stat, multiplier in multipliers.items():
            if stat in ['PTS', 'TRB', 'AST', 'STL', 'BLK']:
                if df.loc[i, stat] >= 10:
                    doubles += 1
            fpts += df.loc[i, stat]*multiplier
        if doubles >= 2:
            fpts += 1.5
        if doubles >= 3:
            fpts += 3
        fpts_list.append(fpts)

    return fpts_list

## Creating Dataframe

In [21]:
seasons = ['2020-21', '2021-22', '2022-23']

df_games_list = []
for season in seasons:
    print('Processing the {} season ...'.format(season))
    
    df_season_games = csv_concatenate(os.path.join(DATA_DIR, 'Boxscores', season))
    df_season_games['FPTS'] = calculate_FPTS(df_season_games)
    add_doubles(df_season_games)
    df_games_list.append(df_season_games)
    
df_games_rough = pd.concat(df_games_list)

Processing the 2020-21 season ...

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=23486.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=23486.0), HTML(value='')))

Processing the 2021-22 season ...

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=26331.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=26331.0), HTML(value='')))

Processing the 2022-23 season ...

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=17393.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=17393.0), HTML(value='')))

## Cleaning the Data
- First step is creating new columns and dropping the columns that are not needed

In [63]:
# Column showing how close the Game was
df_games_rough['Spread'] = df_games_rough['W_PTS'] - df_games_rough['L_PTS']

In [95]:
# Dropping down to neccesary columns 
df_ps_clean = df_games_rough[['Name','Date', 'Team', 'Home', 'W', 'L', 'Spread', 'MP', 'USG_perc','FPTS']]

In [96]:
# Creating Column that shows Opposing team
try:
    Opp_list =[]
    for i in range(len(df_ps_clean)):
        if str(df_ps_clean["Team"].iloc[i]) == str(df_ps_clean["W"].iloc[i]):
            Opp_list.append(str(df_ps_clean["L"].iloc[i]))
        if str(df_ps_clean["Team"].iloc[i]) == str(df_ps_clean["L"].iloc[i]):
            Opp_list.append(str(df_ps_clean["W"].iloc[i]))
except Exception:
    pass

In [97]:
se = pd.Series(Opp_list)
df_ps_clean['Opp'] = se.values

<ipython-input-97-730dba07021d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ps_clean['Opp'] = se.values

In [103]:
# Changing Date colum from int to date time
df_ps_clean['Date'] = pd.to_datetime(df_ps_clean['Date'], format='%Y%m%d')

<ipython-input-103-84325e87b381>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ps_clean['Date'] = pd.to_datetime(df_ps_clean['Date'], format='%Y%m%d')

In [153]:
df_ps_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67210 entries, 0 to 17392
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      67210 non-null  object
 1   Date      67210 non-null  datetime64[ns]
 2   Team      67210 non-null  object
 3   Home      67210 non-null  int64
 4   W         67210 non-null  object
 5   L         67210 non-null  object
 6   Spread    67210 non-null  int64
 7   MP        67210 non-null  float64
 8   USG_perc  67210 non-null  float64
 9   FPTS      67210 non-null  float64
 10  Opp       67210 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 8.7+ MB

# Reading in Team Data Stats

In [106]:
files = glob.glob('C:\\Users\\12242\\103122\\NBA-Fantasy-Point-Projections\\data\\Team Stats\\Team_Stats_*.csv')
print (files)

# Merging the three csv files into one Dataframe, and Adding another column that shows the season
df_ts_rough = pd.concat([pd.read_csv(fp).assign(New=os.path.basename(fp).split('.')[0]) 
       for fp in files], axis=0)

['C:\\Users\\12242\\103122\\NBA-Fantasy-Point-Projections\\data\\Team Stats\\Team_Stats_NBA_2021.html.csv', 'C:\\Users\\12242\\103122\\NBA-Fantasy-Point-Projections\\data\\Team Stats\\Team_Stats_NBA_2022.html.csv', 'C:\\Users\\12242\\103122\\NBA-Fantasy-Point-Projections\\data\\Team Stats\\Team_Stats_NBA_2023.html.csv']

## Cleaning the Data

In [107]:
# Setting first row as the column headers
headers = df_ts_rough.iloc[0]
df_ts_clean = pd.DataFrame(df_ts_rough.values[1:], columns=headers)

In [108]:
# Removing problematic symbols
df_ts_clean.Team = df_ts_clean.Team.str.replace('*','')

In [109]:
# Changing team names to same format as the other data set
mapping = {'Atlanta Hawks': 'ATL',
  'Boston Celtics': 'BOS',
  'Brooklyn Nets': 'BRK',
  'Chicago Bulls': 'CHI',
  'Charlotte Hornets': 'CHO',
  'Cleveland Cavaliers': 'CLE',
  'Dallas Mavericks': 'DAL',
  'Denver Nuggets': 'DEN',
  'Detroit Pistons': 'DET',
  'Golden State Warriors': 'GSW',
  'Houston Rockets': 'HOU',
  'Indiana Pacers': 'IND',
  'Los Angeles Clippers': 'LAC',
  'Los Angeles Lakers': 'LAL',
  'Memphis Grizzlies': 'MEM',
  'Miami Heat': 'MIA',
  'Milwaukee Bucks': 'MIL',
  'Minnesota Timberwolves': 'MIN',
  'New Orleans Pelicans': 'NOP',
  'New York Knicks': 'NYK',
  'Oklahoma City Thunder': 'OKC',
  'Orlando Magic': 'ORL',
  'Philadelphia 76ers': 'PHI',
  'Phoenix Suns': 'PHO',
  'Portland Trail Blazers': 'POR',
  'Sacramento Kings': 'SAC',
  'San Antonio Spurs': 'SAS',
  'Toronto Raptors': 'TOR',
  'Utah Jazz': 'UTA',
  'Washington Wizards': 'WAS'}

In [110]:
df_ts_clean['Team'] = df_ts_clean['Team'].map(mapping)

In [113]:
df_ts_clean.rename(columns = {'Team_Stats_NBA_2021':'Season'}, inplace = True)

In [117]:
# Create new data frame with only the columns needed
df_ts = df_ts_clean[['Team','Pace', 'ORtg', 'DRtg', 'eFG%', 'Season']]

In [122]:
[col_index for col_index, col_name in enumerate(df_ts.columns) if col_name in 'eFG%']

[4, 5]

### Renaming Columns

In [142]:
df_ts.rename(columns = {'Season': 'Date'}, inplace = True)

C:\Users\12242\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [124]:
df_ts.columns.values[4] = 'Off_eFG%'
df_ts.columns.values[5] = 'DEF_eFG%'

In [131]:
# Dropping nulls
df_ts.dropna(subset=['Team'], inplace=True)

<ipython-input-131-323b1baf81a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ts.dropna(subset=['Team'], inplace=True)

In [132]:
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 93
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      90 non-null     object
 1   Pace      90 non-null     object
 2   ORtg      90 non-null     object
 3   DRtg      90 non-null     object
 4   Off_eFG%  90 non-null     object
 5   DEF_eFG%  90 non-null     object
 6   Season    90 non-null     object
dtypes: object(7)
memory usage: 5.6+ KB

In [143]:
df_ts.head()

0 Team   Pace   ORtg   DRtg  Off_eFG%  DEF_eFG%  Date
0  UTA   98.5  117.6  108.3     0.563     0.507  2021
1  LAC   96.9  117.6  111.2     0.564     0.531  2021
2  PHO   97.2  117.2  111.3     0.564     0.534  2021
3  MIL  102.2  117.2  111.4     0.566     0.536  2021
4  PHI   99.5  113.2  107.6     0.541     0.521  2021

## Changing Columns from Object to Numeric

In [126]:
df_ts['Season'] = df_ts['Season'].str.strip().str[-4:]

<ipython-input-126-adbeced8421b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ts['Season'] = df_ts['Season'].str.strip().str[-4:]

In [137]:
cols = ['Pace','ORtg', 'DRtg', 'Off_eFG%', 'DEF_eFG%']
df_ts[cols] = df_ts[cols].apply(pd.to_numeric, errors='coerce', axis=1)

C:\Users\12242\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [144]:
df_ts.round({'Off_eFG%': 3, 'DEF_eFG%': 3})

0  Team   Pace   ORtg   DRtg  Off_eFG%  DEF_eFG%  Date
0   UTA   98.5  117.6  108.3     0.563     0.507  2021
1   LAC   96.9  117.6  111.2     0.564     0.531  2021
2   PHO   97.2  117.2  111.3     0.564     0.534  2021
3   MIL  102.2  117.2  111.4     0.566     0.536  2021
4   PHI   99.5  113.2  107.6     0.541     0.521  2021
..  ...    ...    ...    ...       ...       ...   ...
89  IND  101.0  113.1  115.9     0.535     0.547  2023
90  CHO  101.1  110.0  116.5     0.514     0.554  2023
91  DET   99.8  111.6  118.9     0.521     0.560  2023
92  HOU   99.4  110.3  118.2     0.514     0.558  2023
93  SAS  101.1  110.5  120.5     0.528     0.579  2023

[90 rows x 7 columns]

In [151]:
df_ts['Date'] = pd.to_datetime(df_ts['Date'], format='%Y')

<ipython-input-151-f63727e82713>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ts['Date'] = pd.to_datetime(df_ts['Date'], format='%Y')

In [163]:
df_ts.head()

0 Team   Pace   ORtg   DRtg  Off_eFG%  DEF_eFG%       Date
0  UTA   98.5  117.6  108.3     0.563     0.507 2021-01-01
1  LAC   96.9  117.6  111.2     0.564     0.531 2021-01-01
2  PHO   97.2  117.2  111.3     0.564     0.534 2021-01-01
3  MIL  102.2  117.2  111.4     0.566     0.536 2021-01-01
4  PHI   99.5  113.2  107.6     0.541     0.521 2021-01-01

# Merging the Dataframes

In [154]:
df_merged = pd.merge_asof(df_ps_clean, df_ts, on="Date",
                                 by="Team")

In [157]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67210 entries, 0 to 67209
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      67210 non-null  object
 1   Date      67210 non-null  datetime64[ns]
 2   Team      67210 non-null  object
 3   Home      67210 non-null  int64
 4   W         67210 non-null  object
 5   L         67210 non-null  object
 6   Spread    67210 non-null  int64
 7   MP        67210 non-null  float64
 8   USG_perc  67210 non-null  float64
 9   FPTS      67210 non-null  float64
 10  Opp       67210 non-null  object
 11  Pace      65705 non-null  float64
 12  ORtg      65705 non-null  float64
 13  DRtg      65705 non-null  float64
 14  Off_eFG%  65705 non-null  float64
 15  DEF_eFG%  65705 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(5)
memory usage: 8.7+ MB

In [159]:
df_no_nulls = df_merged.dropna()

In [165]:
df_no_nulls.drop(['W', 'L'], axis=1, inplace =True)

C:\Users\12242\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Creating Opp Stats Data

In [210]:
# Create Dictionary with Team , Pace and turn that dictionary into a dataframe
dictionary = dict(zip(df_no_nulls['Team'], df_no_nulls['Pace']))
df_dic = pd.DataFrame(list(dictionary.items()))
df_dic.columns = ['Opp', 'Opp_pace']

In [211]:
# Create Dictionary with Team, DRtg and turn that dictionary into a dataframe
dictionary2 = dict(zip(df_no_nulls['Team'], df_no_nulls['DRtg']))
df_dic2 = pd.DataFrame(list(dictionary2.items()))
df_dic2.columns = ['Opp', 'Opp_DRtg']

In [220]:
df_Opp_stats = df_dic.merge(df_dic2, on = 'Opp', how = 'left')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Opp       30 non-null     object
 1   Opp_pace  30 non-null     float64
 2   Opp_DRtg  30 non-null     float64
dtypes: float64(2), object(1)
memory usage: 960.0+ bytes

# Final Dataframe

In [223]:
df_final = df_no_nulls.merge(df_Opp_stats, on = 'Opp', how ='left')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65705 entries, 0 to 65704
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      65705 non-null  object
 1   Date      65705 non-null  datetime64[ns]
 2   Team      65705 non-null  object
 3   Home      65705 non-null  int64
 4   Spread    65705 non-null  int64
 5   MP        65705 non-null  float64
 6   USG_perc  65705 non-null  float64
 7   FPTS      65705 non-null  float64
 8   Opp       65705 non-null  object
 9   Pace      65705 non-null  float64
 10  ORtg      65705 non-null  float64
 11  DRtg      65705 non-null  float64
 12  Off_eFG%  65705 non-null  float64
 13  DEF_eFG%  65705 non-null  float64
 14  Opp_pace  65705 non-null  float64
 15  Opp_DRtg  65705 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(3)
memory usage: 8.5+ MB

In [228]:
# Save DataFrame to csv
df_final.to_csv('C:\\Users\\12242\\103122\\NBA-Fantasy-Point-Projections\\data\\Prepared_Data.csv', index=False)